.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.gallery__item {
  display: block;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // transition: transform var(--animation-duration) var(--timing-function);
  transition: transform $transition;
}

// :root {
//   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   --animation-duration: 250ms;
// }

.info {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px;

  font-size: 14px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery__image:hover {
  transform: scale(1.03);
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 90px) / 4);
  position: relative;
  border-radius: 4px;
  background-color: $white-color;
}

.photo-card:before,
.photo-card:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  background: $card-color;
  box-shadow: 0 15px 10px $card-color;
  transform: rotate(-3deg);
}

.photo-card:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}