.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.gallery__item {
  display: block;
  width: 100%;
  height: 100%;
  cursor: zoom-in;
  transition: transform $transition;

  &:hover {
    transform: scale(1.03);
  }
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px;

  font-size: 14px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 90px) / 4);
  position: relative;

  cursor: default;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 0 10px 10px 0 $card-color;  

}

