#search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;

  background-color: $bg-search-color;
}

.input {
  height: 30px;
  width: 250px;

  padding-left: 10px;
  min-height: 20px;

  font: inherit;
  border: none;
  outline: none;
  vertical-align: middle;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;  
}

